
/* FIRST CART CONTANT AND IMAGE START */

.ContImgcontainer-h1{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 25px;
    
}
.ContImgcontainer-p{
    color: var(--primary-color);
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    
}
.ContImgcontainer-button{
    
    padding:10px 30px;
    height: 47px;
    border-radius: 25Px;
    background-color:var(--primary-color) ;
    color: white;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    
}


/* FIRST CART CONTANT AND IMAGE END */
/* SECOND CART CONTANT AND IMAGE START */



.ContImgcontainer-h1-2{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 25px;
    
}
.ContImgcontainer-p-2{
    color: var(--primary-color);
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    
}
.ContImgcontainer-button-2{
    
    padding:10px 30px;
    height: 47px;
    border-radius: 25Px;
    background-color:var(--primary-color) ;
    color: white;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    
}


/* SECOND CART CONTANT AND IMAGE END */

/* CART CONTANT AND IMAGE  desktop START */

@media (min-width: 992px) {
    .ContImgcontainer{
        min-height: 565px;
        margin-left: 98px;
        margin-right: 98px;
        border-radius: 17px;
        margin-top: 60px;
    }
    .ContImgcontainer-2{
        min-height: 370px;
        margin-left: 98px;
        margin-right: 98px;
        border-radius: 25px;
        margin-top: 60px;
    }
    .ContImgCart-img{
        min-height: 563px;
        object-fit: cover;
    }
    .ContImgCart-img-2{
        min-height: 370px;
        object-fit: cover;
    }
    .ContImgCart-cont {
        margin-top: 100px;
        margin-left: 60px;
        margin-right: 55px;
    
    }
    .ContImgCart-cont-2 {
        margin-top: 100px;
        margin-left: 60px;
        margin-right: 55px;
    }
}

/* CART CONTANT AND IMAGE  desktop end */

/* CART CONTANT AND IMAGE  Mobile START */

@media (max-width: 991px) {
    .ContImgcontainer{
        min-height: 565px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
    }
    .ContImgcontainer-2{
        min-height: 370px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
    }

    .ContImgCart-img{
        min-height: 312px;
        object-fit: cover;
    }
    .ContImgCart-img-2{
        min-height: 312px;
        object-fit: cover;
    }
}

/* CART CONTANT AND IMAGE  Mobile end */