@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100;200&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;1,700&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Foldit:wght@100;200&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;1,700&family=Open+Sans:wght@300;400&display=swap");

/* Css for Navbar start */
/* ----------------------------------------------------------------------------------- */
:root {
  --primary-color: rgb(14, 27, 77); /* Define the color variable */
}

.my-nav {
  background-color: var(--primary-color);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-navbar {
  background-color: var(--primary-color);
  color: white;
  padding-top: 20px;
  width: 100%;
}
.nav-hr{
  margin: 0;
  color: white;
  opacity: 1;
}

.logo-img {
  width: 120px;
  height: 43px;
}
.nav-menu {
  padding-top: 8px;
}
.serch-icon {
  font-size: 23px;
  margin-top: 15px;
}
.cart-icon {
  font-size: 25px;
  margin-top: 15px;
}
.my-navbar ul li {
  padding: 5px;
  font-family: "Mulish", sans-serif;
  color: rgb(255, 255, 255, 0.7);
}
.menu-text {
  color: rgb(255, 255, 255, 0.7);
}
.menu-text:hover {
  color: rgb(255, 255, 255);
}
ul li .menu-text:hover {
  text-decoration: underline;
  color: white;
}
.drp-dwn:hover {
  background-color: var(--primary-color);
}
.drp-dwn {
  background-color: var(--primary-color);
}
.nav-cart-count {
  width: 18px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 10px;
  color: black;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
}

.menu-text:visited {
  color: white;
  text-decoration: underline;
}
.nav-bar-input {
  height: 50px;
  font-size: 14px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid rgb(253, 253, 253, 0.7);
  padding-bottom: 6px;
  padding-top: 24px;
}
.nav-bar-input[type="email"] {
  background-color: var(--primary-color);
  caret-color: white;
  color: white;
}
.nav-bar-input:focus {
  outline: none;
  border: 2px solid rgb(253, 253, 253);
}

.input-wrap label {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 25px;
  pointer-events: none;
  transition: 0.3s ease all;
  color: rgb(253, 253, 253, 0.7);
}
.input-wrap {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 15px;
}

.nav-bar-input:focus + label {
  font-size: 13px;
  color: rgb(253, 253, 253, 0.7);
  top: 5px;
  left: 17px;
  padding: 0 5px 0 5px;
}
.nav-email-btn {
  position: absolute;
  color: rgb(253, 253, 253, 0.7);
  font-size: 20px;
  right: 20px;
  top: 17px;
}
.nav-btn-close{
  margin-top: 15px;
  color: rgb(253, 253, 253, 0.7);
  font-size: 31px;
  margin-left: 10px;
}
.nav-btn-close:hover{
  color: white;
}
.offcanva-body-div{
  background-color:var(--primary-color) ;
  justify-content: center;
  align-items: center;
}


/* Css for Navbar end */
/* Css for desktop Navbar start --------------------------------------------*/

@media (min-width: 992px) {
  .navbar-toggler-div {
    display: none;
  }
  .my-navbar {
    background-color: var(--primary-color);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    width: 100%;
  }
  .nav-logo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-bar-input {
    width: 499.89px;
  }
  .offcanva-body-div{
    height: 161px;}
  .offcanvas.offcanvas-top {
    height: 161px;
    max-height: 30%;
  }
  .nav-menu{
    display: flex;
    justify-content: center;
  }
}

/* Css for desktop Navbar end *---------------------------------------------/
/* Css for Mobile Navbar start */

@media (max-width: 991px) {
  .navbar-toggler-div {
    display: block;
  }
  .nav-logo {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-toggler {
    margin-right: 45px;
  }
  .navbar-toggler-icon {
    font-size: 16px;
    color: white;
  }
  .logo-img-div {
    order:1 ;
  }
  .serch-icon-div {
    order:2 ;
  }
  .cart-icon-div {
    order: 3;
  }
  .nav-bar-input {
    width: 295px;
  }
  .offcanva-body-div{
    height: 91px;}
  .offcanvas.offcanvas-top {
    height: 91px;
    max-height: 30%;
  }
  .nav-menu{
    margin-left: 35px;
  }
}
/* Css for Mobile Navbar end */
